doctype html
html
    head
        <link rel="icon" href="../static/titlelogo.png" type="image/icon type">
        title India Dance Academy
        style
            include ../static/style.css
            include ../static/AboutUSstyle.css
    body 
        div.wrapper 
            nav#navbar 
                ul 
                    div#logo 
                        div#insidelogo #[a(href='/') #[img(src="../static/icon2.png", alt="")]IDA]
                    li#listitem #[a(href='/') Home] 
                    li #[a(href='/AboutUs') About Us ]
                    li #[a(href='/OurServices') Our Services]
            section#AboutUs
                div#info 
                    p#firstpara We at India Dance Academy or IDA&reg live to bring out the absolute best in our students and hone their skills so that we can help them in hitting their maximum potential. We sincerely believe that DANCE is an art form and every student coming to us to learn this art, an artist.

                    p#secondpara As an institue, we have been helping students across the world achieve a name for themselves in this fine art for more than a decade now and we have been able to do that for this long only because of the best of the best tutors-cum-mentors we have here at IDA&reg

                    h1#heading 'IDA is the name of the game when it comes to making a pro dancer out of an amateur'
