doctype html
html
    head
        <link rel="icon" href="../static/titlelogo.png" type="image/icon type">
        title India Dance Academy
        style
            include ../static/style.css
            include ../static/OurServicesstyle.css
    body 
        div.wrapper 
            nav#navbar 
                ul 
                    div#logo 
                        div#insidelogo #[a(href='/') #[img(src="../static/icon2.png", alt="")]IDA]
                    li#listitem #[a(href='/') Home] 
                    li #[a(href='/AboutUs') About Us ]
                    li #[a(href='/OurServices') Our Services]
            section#OurServices
                div#services 
                    div #[span Proffesional Dance Course] - In this 6 month long course we will ensure that you develop industry level dance skills and by the end of the course you're a pro dancer 

                    div #[span Weddings and Family Functions] - We also provide at-your-residence crash courses for groups of students interested in presenting a dance performance at a wedding or any other family function

                    div #[span Annual-Day Functions] - Dance lessons for entire batches of students in schools/colleges who are preparing for Annual-Day Functions and so.

                    div#firstitem.items Call / WhatsApp Us On : 9999999999

                    div.items Address : Badarpur, New Delhi

                    div#lastitem.items #[a(href='https://goo.gl/maps/WBMEbVA2fkQwUQJUA' target="_blank") Google Maps]

